@media (min-width: 769px) and (max-width: 1140px) {
  .headAgriosFirst {
    justify-content: center;
    flex-direction: column;
  }

  .socialIcons ul li {
    padding: 5px;
    margin: 0 2px;
  }

  .headAgriosSecond {
    margin-top: 10px;
    flex-wrap: wrap;
  }

  .navItems ul li {
    padding: 0 15px;
  }

  .navBoxes {
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 15px;
  }

  .navBox {
    display: flex;
    gap: 15px;
    padding: 0 5px;
  }

  .searchIcon svg {
    width: 20px;
  }

  .cartIcon svg {
    width: 20px;
  }

  .iconSvg svg {
    width: 24px;
  }

  .aboutIntroLeft {
    width: 50%;
  }

  .aboutIntroFirstImage img {
    width: 70%;
    height: 380px;
  }

  .aboutIntroSecondImage img {
    width: 30%;
    left: 40px;
    bottom: 0;
  }

  .aboutIntroRight {
    width: 50%;
  }

  .aboutIntroRight h2 {
    font-size: 24px;
  }

  .aboutIntroRight h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
  }

  .aboutIntroRight p {
    margin-top: 15px;
    line-height: 1.3em;
  }

  .aboutIntroTextsBox {
    margin-top: 20px;
  }

  .aboutIntroText {
    gap: 10px;
    margin-top: 5px;
  }

  .aboutIntrobtn {
    padding: 12px 20px;
    margin-top: 15px;
  }

  .aboutVideoItems {
    padding: 10px;
  }

  .aboutVideoItems ul li {
    padding: 20px 20px;
  }

  .aboutVideoItems ul li a {
    font-size: 16px;
  }

  .aboutVideoText h2 {
    font-size: 36px;
  }

  .aboutVideoButton svg {
    width: 50px;
    height: 50px;
  }

  .aboutTestimonialBackground {
    height: 70vh;
  }

  .aboutTestimonialCards {
    width: 100%;
    gap: 60px;
  }

  .aboutTestimonialContainer span {
    font-size: 24px;
  }

  .aboutTestimonialContainer h2 {
    font-size: 24px;
  }

  .aboutTestimonialBox {
    height: 230px;
    padding: 10px;
  }

  .aboutTestimonialProfile {
    transform: translate(40%, 0);
  }

  .aboutTestimonialProfile img {
    width: 100%;
    height: 120px;
    border-radius: 10px;
  }

  .aboutTestimonialActiveStatus {
    left: 30px;
  }

  .aboutTestimonialCard {
    padding: 10px 10px;
  }

  .aboutTestimonialCard p {
    font-size: 16px;
  }

  .aboutTestimonialCardHeading {
    flex-direction: column;
  }

  .teamMembersContainer {
    margin-top: 80px;
  }

  .teamMembersContainer h2 {
    font-size: 36px;
  }

  .teamMembersBoxFirst {
    width: 30%;
    height: 300px;
  }

  .teamMembersBoxSecond {
    width: 30%;
    height: 300px;
  }

  .teamMembersBoxThird {
    width: 30%;
    height: 300px;
  }

  .teamMemberText {
    padding: 10px 30px;
  }

  .teamMemberText h3 {
    font-size: 16px;
  }

  .teamMemberText span {
    font-size: 14px;
  }

  .teamMemberIcon {
    width: 18%;
    transform: translate(-50%, 20%);
  }

  .contactBoxesContainer {
    flex-wrap: wrap;
  }

  .contactBoxFirst {
    height: 200px;
    padding: 30px 30px;
  }

  .contactBoxSecond {
    height: 200px;
    padding: 30px 30px;
  }

  .contactBoxThird {
    height: 200px;
    padding: 30px 30px;
  }

  .contactRight {
    padding: 80px 30px;
    width: 60%;
  }

  .contactRight h2 {
    font-size: 32px;
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
  }

  input[type="email"] {
    margin-left: 0;
  }

  .projectsContainer {
    flex-wrap: wrap;
  }

  .healthyFoodContainer {
    margin-top: 50px;
  }

  .healthyFoodLeft .foodPara {
    margin: 20px 0;
  }

  .healthyFoodLeft h3 {
    margin: 20px 0;
  }

  .healthyFoodRightContent {
    height: 60vh;
    padding: 30px 30px;
  }

  .servicesPageContainer {
    flex-wrap: wrap;
  }
}

/* MEDIA BREAKPOINT FROM 769px TO 1057px */
@media (min-width: 769px) and (max-width: 1057px) {
  /* .headAgriosFirst {
    justify-content: center;
    flex-direction: column;
  }
  .socialIcons ul li {
    padding: 5px;
    margin: 0 2px;
  }

  .headAgriosSecond {
    margin-top: 10px;
    flex-wrap: wrap;
  }
  .navItems ul li {
    padding: 0 15px;
  }

  .navBoxes {
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 15px;
  }
  .navBox {
    display: flex;
    gap: 15px;
    padding: 0 5px;
  }
  .searchIcon svg {
    width: 20px;
  }
  .cartIcon svg {
    width: 20px;
  }
  .iconSvg svg {
    width: 24px;
  } */
  .heroBackground {
    height: 65vh;
  }

  .heroText h1 {
    font-size: 55px;
  }

  .heroText p {
    margin-top: 10px;
  }

  .heroBoxes {
    gap: 10px;
  }

  .introFirstImage img {
    width: 90%;
    height: 350px;
  }

  .introSecondImage img {
    width: 50%;
  }

  .introRight h2 {
    font-size: 24px;
    font-weight: 600;
  }

  .introRight h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
  }

  .introRight p {
    margin-top: 10px;
    font-weight: 300;
    line-height: 1.4em;
  }

  .introItems {
    gap: 30px;
    margin-top: 10px;
  }

  .introTextsBox {
    margin-top: 10px;
  }

  .introText {
    gap: 10px;
    margin-top: 5px;
  }

  .introbtn {
    padding: 12px 20px;
    margin-top: 15px;
  }

  .servicesBox {
    flex-wrap: wrap;
  }

  .serviceItemFirst {
    width: 20%;
  }

  .serviceItemSecond {
    width: 20%;
  }

  .serviceItemThird {
    width: 20%;
  }

  .serviceItemFourth {
    width: 20%;
  }

  .videoItems {
    padding: 10px;
  }

  .videoItems ul li {
    padding: 20px 20px;
  }

  .videoItems ul li a {
    font-size: 16px;
  }

  .videoSectionText h2 {
    font-size: 36px;
  }

  .videoButton svg {
    width: 50px;
    height: 50px;
  }

  .exploreProjectsContainer h2 {
    font-size: 36px;
  }

  .exploreProjectsBoxFirst {
    height: 250px;
  }

  .exploreProjectsBoxSecond {
    height: 250px;
  }

  .exploreProjectsBoxThird {
    height: 250px;
  }

  .exploreProjectsBoxFourth {
    height: 250px;
  }

  .testimonialBackground {
    flex-wrap: wrap;
  }

  .testimonialLeft {
    width: 40%;
  }

  .testimonialLeft span {
    font-size: 24px;
    font-weight: 400;
    color: #eec044;
    align-items: center;
    font-family: "Covered By Your Grace", serif;
  }

  .testimonialLeft h2 {
    font-size: 24px;
  }

  .testimonialLeft p {
    font-size: 14px;
  }

  .testimonialBtn {
    padding: 16px 20px;
    margin-top: 20px;
  }

  .testimonialRight {
    width: 60%;
  }

  .cardBackground {
    height: 230px;
    padding: 20px;
  }

  .testimonialCard p {
    font-size: 16px;
  }

  .testimonialCardHeading {
    flex-direction: column;
  }

  .benefitsContainer {
    margin-top: 30px;
  }

  .benefitsLeft {
    width: 50%;
  }

  .benefitsImage {
    width: 100%;
  }

  .benefitsImage img {
    width: 100%;
    height: 460px;
  }

  .benefitsRight {
    width: 50%;
  }

  .benefitsRight span {
    color: #eec044;
    font-family: "Covered By Your Grace", serif;
  }

  .benefitsRight h2 {
    font-size: 24px;
  }

  .benfitsPara {
    margin-top: 10px;
  }

  .benefitsBoxes {
    width: 100%;
    margin-top: 20px;
  }

  .benefitsTextsBox {
    margin-top: 10px;
  }

  .benefitsIconsImage {
    display: flex;
    gap: 15px;
  }

  .benefitsText h3 {
    font-size: 16px;
  }

  .benefitsText p {
    margin-top: 6px;
    font-size: 14px;
  }

  .benefitsBtn {
    padding: 12px 20px;
    margin-top: 15px;
  }

  .blogsContainer {
    flex-wrap: wrap;
    margin-top: 100px;
  }

  .blogsBoxItem {
    width: 30%;
    height: 450px;
  }

  .blogsFeedback {
    flex-direction: column;
    gap: 10px;
  }

  .blogsBoxItem h3 {
    margin: 20px 10px;
    text-align: center;
  }

  .servicesPageItems {
    padding: 10px 20px;
    top: 80px;
  }

  .servicesLogoBackground {
    margin-top: 100px;
  }

  .servicesPageVideoBackground {
    height: 60vh;
  }

  .servicesPageVideoContainer h2 {
    font-size: 36px;
  }

  .servicesVideoBox {
    width: 30%;
  }

  .servicesGrowthLeft {
    width: 40%;
  }

  .servicesGrowthLeft img {
    width: 90%;
    height: 550px;
  }

  .servicesGrowthRight {
    width: 60%;
  }

  .servicesGrowthRight p {
    margin-top: 20px;
  }

  .growthBoxes {
    margin-top: 30px;
  }

  .growthItemFirst {
    padding: 10px 20px;
  }

  .growthItemSecond {
    padding: 10px 10px;
  }

  .growthItemThird {
    padding: 10px 30px;
  }

  .servicesGrowthIcon svg {
    width: 50px;
  }

  .marketLeadersBackground p {
    font-size: 22px;
  }

  .marketLeadersBackground h3 {
    font-size: 24px;
  }

  .agricultureProductsLeftFirst {
    padding: 30px 20px;
  }

  .agricultureProductsLeftSecond {
    padding: 40px 2px;
    margin-top: 20px;
  }

  .agricultureProductsRight h2 {
    font-size: 32px;
  }
}

/* MEDIA BREAKPOINT FROM 481px TO 768px */
@media (min-width: 481px) and (max-width: 768px) {
  .headAgriosFirst {
    justify-content: space-between;
    /* flex-direction: column; */
  }

  .logo svg {
    width: 140px;
  }

  .hamburger {
    width: 20px;
    display: block;
  }

  .socialIcons {
    display: none;
  }

  .headAgriosSecond {
    display: none;
  }

  .navBoxes {
    gap: 15px;
    margin-top: 15px;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
  }

  .navBox {
    display: flex;
    gap: 15px;
    padding: 0 5px;
  }

  .searchIcon svg {
    width: 20px;
  }

  .cartIcon svg {
    width: 20px;
  }

  .iconSvg svg {
    width: 20px;
  }

  .heroBackground {
    height: 60vh;
  }

  .heroText h1 {
    font-size: 36px;
  }

  .heroText svg {
    width: 10%;
  }

  .heroText p {
    font-size: 14px;
    margin-top: 10px;
  }

  .heroButton {
    margin-top: 20px;
  }

  .heroBtn {
    padding: 15px 20px;
    font-weight: 400;
  }

  .heroLeafImage {
    margin-top: 20px;
  }

  .heroLeafImage img {
    width: 75%;
  }

  .heroBoxes {
    gap: 10px;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }

  .heroBoxImage img {
    width: 50%;
    height: 60px;
  }

  .introductionContainer {
    flex-direction: column;
    margin-top: 20px;
  }

  .introLeft {
    width: 100%;
  }

  .introFirstImage img {
    width: 100%;
    height: 350px;
    border-radius: 0;
  }

  .introSecondImage img {
    width: 40%;
  }

  .introRight {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .introRight h2 {
    font-size: 16px;
  }

  .introRight h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
  }

  .introRight p {
    margin-top: 10px;
    font-weight: 300;
    line-height: 1.1em;
  }

  .introItems {
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
  }

  .introTextsBox {
    margin-top: 10px;
  }

  .introText {
    gap: 10px;
    margin-top: 5px;
    justify-content: center;
  }

  .introbtn {
    padding: 12px 20px;
    margin-top: 15px;
  }

  .footerContainer {
    padding: 80px 70px;
    text-align: center;
  }

  .footerColumns {
    margin: 15px;
  }

  .footerSocialIcons ul {
    justify-content: center;
  }

  .footerColText {
    margin-left: 0px;
  }

  .footerColumns ul li span {
    padding: 0px 10px;
  }

  .servicesBackground {
    margin-top: 10px;
    align-items: start;
  }

  .servicesContainer p {
    font-size: 18px;
  }

  .servicesContainer h2 {
    font-size: 24px;
  }

  .servicesBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }

  .serviceItemFirst {
    width: 80%;
    height: 200px;
  }

  .serviceItemSecond {
    width: 80%;
    height: 200px;
  }

  .serviceItemThird {
    width: 80%;
    height: 200px;
  }

  .serviceItemFourth {
    width: 80%;
    height: 200px;
  }

  .videoBackground {
    margin-top: 0;
  }

  .videoItems {
    padding: 10px;
  }

  .videoItems ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .videoItems ul li {
    padding: 10px 10px;
  }

  .videoItems ul li a {
    font-size: 16px;
  }

  .videoSectionText h2 {
    font-size: 24px;
  }

  .videoButton svg {
    width: 50px;
    height: 50px;
  }

  .exploreProjectsContainer {
    margin-top: 50px;
  }

  .exploreProjectsContainer h2 {
    font-size: 36px;
  }

  .exploreProjectsBoxes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .exploreProjectsBoxFirst {
    width: 80%;
    height: 250px;
  }

  .exploreProjectsBoxSecond {
    width: 80%;
    height: 250px;
  }

  .exploreProjectsBoxThird {
    width: 80%;
    height: 250px;
  }

  .exploreProjectsBoxFourth {
    width: 80%;
    height: 250px;
  }

  .exploreProjectsBoxes h3 {
    font-size: 18px;
  }

  .testimonialBackground {
    height: 90vh;
    margin-top: 50px;
  }

  .testimonialContainer {
    flex-direction: column;
  }

  .testimonialLeft {
    width: 80%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }

  .testimonialLeft span {
    font-size: 24px;
  }

  .testimonialLeft h2 {
    font-size: 24px;
  }

  .testimonialLeft p {
    font-size: 14px;
  }

  .testimonialBtn {
    padding: 16px 18px;
    margin-top: 20px;
  }

  .testimonialRight {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .cardBackground {
    height: 220px;
    padding: 15px;
    /* margin-top: 20px; */
    /* margin: 0; */
  }

  .testimonialCard p {
    font-size: 16px;
  }

  .testimonialCardHeading {
    margin-top: 10px;
    flex-wrap: wrap;
  }

  .testimonialIcons {
    margin-top: 6px;
  }

  .benefitsContainer {
    flex-direction: column;
    margin-top: 20px;
  }

  .benefitsLeft {
    width: 100%;
  }

  .benefitsImage {
    width: 100%;
  }

  .benefitsImage img {
    width: 100%;
    height: 360px;
  }

  .benefitsRight {
    width: 80%;
    margin: 0 auto;
  }

  .benefitsRight span {
    display: flex;
    justify-content: center;
    color: #eec044;
    font-family: "Covered By Your Grace", serif;
  }

  .benefitsRight h2 {
    font-size: 24px;
    text-align: center;
  }

  .benfitsPara {
    margin-top: 10px;
    text-align: center;
  }

  .benefitsBoxes {
    width: 100%;
    margin-top: 20px;
  }

  .benefitsTextsBox {
    margin-top: 10px;
  }

  .benefitsIconsImage {
    display: flex;
    gap: 15px;
  }

  .benefitsText h3 {
    font-size: 16px;
  }

  .benefitsText p {
    margin-top: 6px;
    font-size: 14px;
  }

  .benefitsButton {
    display: flex;
    justify-content: center;
  }

  .benefitsBtn {
    padding: 12px 20px;
    margin-top: 15px;
  }

  .blogsContainer {
    flex-direction: column;
    margin-top: 50px;
  }

  .blogsContainer h2 {
    font-size: 24px;
  }

  .blogsBoxes {
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blogsBoxItem {
    width: 60%;
    height: 400px;
  }

  .blogsImage img {
    height: 200px;
  }

  .blogsFeedback {
    margin-top: 20px;
    gap: 5px;
    flex-direction: column;
  }

  .blogsBoxItem h3 {
    margin: 10px 10px;
    text-align: center;
  }

  .aboutBackground {
    height: 30vh;
  }

  .aboutBackground h1 {
    font-size: 32px;
  }

  .aboutIntroContainer {
    flex-direction: column;
    margin-top: 60px;
  }

  .aboutIntroLeft {
    width: 80%;
  }

  .aboutIntroFirstImage {
    width: 100%;
  }

  .aboutIntroFirstImage img {
    position: relative;
    left: 75px;
    width: 100%;
    height: 300px;
  }

  .aboutIntroSecondImage img {
    width: 30%;
    left: 30px;
  }

  .aboutIntroRight {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
  }

  .aboutIntroRight h2 {
    font-size: 16px;
  }

  .aboutIntroRight h4 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
  }

  .aboutIntroRight p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.2em;
  }

  .aboutIntroTextsBox {
    margin-top: 20px;
  }

  .aboutIntroText {
    gap: 10px;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
  }

  .aboutIntrobtn {
    padding: 12px 20px;
    margin-top: 15px;
  }

  .aboutVideoBackground {
    margin-top: 0;
  }

  .aboutVideoItems {
    padding: 10px;
  }

  .aboutVideoItems ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .aboutVideoItems ul li {
    padding: 10px 10px;
  }

  .aboutVideoItems ul li a {
    font-size: 16px;
  }

  .aboutVideoText h2 {
    font-size: 24px;
  }

  .aboutVideoButton svg {
    width: 50px;
    height: 50px;
  }

  .aboutTestimonialBackground {
    height: 100vh;
  }

  .aboutTestimonialContainer {
    padding: 40px 0;
  }

  .aboutTestimonialCards {
    width: 100%;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .aboutTestimonialContainer span {
    font-size: 24px;
  }

  .aboutTestimonialContainer h2 {
    font-size: 24px;
  }

  .aboutTestimonialBox {
    width: 80%;
    height: 220px;
    padding: 20px;
    margin-top: 20px;
  }

  .aboutTestimonialProfile {
    transform: translate(40%, 5%);
  }

  .aboutTestimonialActiveStatus {
    left: 30px;
  }

  .aboutTestimonialCard {
    padding: 10px 20px;
  }

  .aboutTestimonialCard p {
    font-size: 16px;
  }

  .aboutTestimonialCardHeading {
    width: 100%;
    margin-top: 10px;
  }

  .teamMembersContainer {
    margin-top: 50px;
  }

  .teamMembersContainer h2 {
    font-size: 36px;
  }

  .teamMembersBoxes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .teamMembersBoxFirst {
    width: 90%;
    height: 250px;
  }

  .teamMembersBoxSecond {
    width: 90%;
    height: 250px;
  }

  .teamMembersBoxThird {
    width: 90%;
    height: 250px;
  }

  .teamMemberText {
    padding: 10px 60px;
  }

  .teamMemberText h3 {
    font-size: 16px;
  }

  .teamMemberText span {
    font-size: 14px;
  }

  .teamMemberIcon {
    width: 18%;
    transform: translate(-50%, 20%);
  }

  .contactBackground {
    height: 30vh;
  }

  .contactBackground h1 {
    font-size: 32px;
  }

  .contactBoxesContainer {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contactBoxFirst {
    width: 80%;
    height: 180px;
    padding: 30px 30px;
  }

  .contactBoxSecond {
    width: 80%;
    height: 180px;
    padding: 30px 30px;
  }

  .contactBoxThird {
    width: 80%;
    height: 180px;
    padding: 30px 30px;
  }

  .contactFormContainer {
    flex-direction: column;
    align-items: center;
    box-shadow: none;
  }

  .contactLeft {
    width: 80%;
  }

  .contactLeft img {
    width: 100%;
    height: 400px;
  }

  .contactRight {
    padding: 0;
    width: 80%;
    margin-top: 30px;
    align-items: center;
    text-align: center;
  }

  .contactRight h2 {
    font-size: 32px;
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
  }

  input[type="email"] {
    margin-left: 0;
  }

  .projectsBackground {
    height: 30vh;
  }

  .projectsBackground h1 {
    font-size: 32px;
  }

  .projectsContainer {
    margin-top: 60px;
  }

  .projectsBoxesFirst {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .projectsBoxFirst {
    width: 80%;
    background-size: cover;
  }
  .projectsBoxSecond {
    width: 80%;
    background-size: cover;
  }
  .projectsBoxThird {
    width: 80%;
    background-size: cover;
  }
  .projectsBoxesSecond {
    flex-direction: column;
    align-items: center;
  }
  .projectsBoxFourth {
    width: 80%;
    background-size: cover;
  }
  .projectsBoxFifth {
    width: 80%;
    background-size: cover;
  }
  .projectsBoxSixth {
    width: 80%;
    background-size: cover;
  }

  .healthyFoodContainer {
    margin-top: 40px;
    flex-direction: column;
  }

  .healthyFoodLeft {
    width: 100%;
    text-align: center;
  }

  .healthyFoodLeft .foodPara {
    margin: 20px 0;
  }

  .healthyFoodLeft h3 {
    margin: 20px 0;
  }

  .healthyFoodRight {
    width: 100%;
    text-align: center;
  }

  .healthyFoodRightContent {
    height: 50vh;
    padding: 20px 20px;
  }

  .healthyFoodProjectsContainer {
    margin: 40px auto;
  }

  .healthyFoodProjectsContainer p {
    font-size: 18px;
  }

  .healthyFoodProjectsContainer h2 {
    font-size: 28px;
    font-weight: 800;
  }

  .healthyFoodProjectsBoxes {
    flex-direction: column;
  }

  .healthyFoodProjectsBoxFirst {
    width: 100%;
    background-size: cover;
  }

  .healthyFoodProjectsBoxSecond {
    width: 100%;
    background-size: cover;
  }

  .healthyFoodProjectsBoxThird {
    width: 100%;
    background-size: cover;
  }

  .healthyFoodProjectsBoxFourth {
    width: 100%;
    background-size: cover;
  }

  .servicesPageBackground {
    height: 30vh;
  }

  .servicesPageBackground h1 {
    font-size: 32px;
  }

  .servicesPageContainer {
    gap: 30px;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
  }
  .servicesPageItemFirst {
    width: 80%;
    background-size: cover;
  }
  .servicesPageItems {
    padding: 10px 50px;
    top: 30px;
  }

  .servicesPageIcons svg {
    width: 36px;
    height: 36px;
  }

  .servicesPageItemSecond {
    width: 80%;
    background-size: cover;
  }
  .servicesPageItemThird {
    width: 80%;
    background-size: cover;
  }
  .servicesPageItemFourth {
    width: 80%;
    background-size: cover;
  }

  .servicesLogoBackground {
    height: 20vh;
    margin-top: 30px;
  }

  .servicesPageVideoBackground {
    height: 50vh;
  }

  .servicesPageVideoContainer h2 {
    font-size: 32px;
  }

  .servicesPageVideoButton svg {
    width: 60px;
    height: 60px;
  }

  .servicesVideoBoxes {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .servicesVideoBox {
    width: 80%;
  }

  .servicesGrowthContainer {
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
  }

  .servicesGrowthLeft {
    width: 80%;
  }

  .servicesGrowthLeft img {
    width: 100%;
    height: 400px;
  }

  .servicesGrowthRight {
    width: 80%;
    text-align: center;
  }

  .servicesGrowthRight h2 {
    font-size: 28px;
  }

  .servicesGrowthRight p {
    margin-top: 10px;
  }

  .growthBoxes {
    width: 100%;
    margin-top: 30px;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .growthItemFirst {
    padding: 10px 20px;
  }

  .growthItemSecond {
    padding: 10px 10px;
  }

  .growthItemThird {
    padding: 10px 30px;
  }

  .servicesGrowthIcon svg {
    width: 50px;
  }

  .marketLeadersContainer {
    flex-direction: column;
    text-align: center;
  }

  .marketLeadersBackground h3 {
    font-size: 24px;
  }

  .marketLeadersBtn {
    padding: 15px 20px;
    margin-top: 20px;
  }

  .agricultureProductsContainer {
    margin: 90px auto;
    flex-direction: column;
    align-items: center;
  }

  .agricultureProductsLeft {
    width: 100%;
  }

  .agricultureProductsLeftFirst {
    width: 100%;
    text-align: center;
  }

  .agricultureProductsLeftItems {
    margin-top: 10px;
  }

  .agricultureProductsLeftSecond {
    width: 100%;
    margin-top: 20px;
  }

  .agricultureProductsRight {
    width: 100%;
    text-align: center;
  }

  .agricultureProductsRight h2 {
    font-size: 32px;
  }

  .agricultureProductsBoxItem .BoxSecondText {
    /* margin-top: 10px; */
    line-height: 1.2em;
  }
}

/* MEDIA BREAKPOINT FROM 320px TO 480px */
@media (min-width: 320px) and (max-width: 480px) {
  .headAgriosFirst {
    justify-content: space-between;
  }

  .logo svg {
    width: 120px;
  }

  .hamburger {
    width: 20px;
    display: block;
  }

  .socialIcons {
    display: none;
  }

  .headAgriosSecond {
    display: none;
  }

  .navBoxes {
    display: none;
    gap: 10px;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 10px;
  }

  .iconText h3 {
    font-size: 12px;
  }

  .navBox {
    display: flex;
    gap: 15px;
    padding: 0 5px;
  }

  .searchIcon svg {
    width: 20px;
  }

  .cartIcon svg {
    width: 20px;
  }

  .iconSvg svg {
    width: 18px;
  }

  .heroBackground {
    height: 60vh;
  }

  .heroText h1 {
    font-size: 24px;
  }

  .heroText svg {
    width: 5%;
  }

  .heroText p {
    font-size: 12px;
    margin-top: 10px;
  }

  .heroButton {
    margin-top: 10px;
  }

  .heroBtn {
    padding: 15px 10px;
    font-weight: 400;
  }

  .heroLeafImage {
    margin-top: 10px;
  }

  .heroLeafImage img {
    width: 65%;
  }

  .heroBoxes {
    gap: 10px;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  .heroBoxImage img {
    width: 50%;
    height: 60px;
  }

  .introductionContainer {
    flex-direction: column;
    margin-top: 20px;
  }

  .introLeft {
    width: 100%;
  }

  .introFirstImage img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
  }

  .introSecondImage img {
    width: 40%;
  }

  .introRight {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .introRight h2 {
    font-size: 16px;
  }

  .introRight h4 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
  }

  .introRight p {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 300;
    line-height: 1.4em;
  }

  .introItems {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
  }

  .introTextsBox {
    margin-top: 10px;
  }

  .introBox h5 {
    font-size: 12px;
  }

  .introText {
    gap: 10px;
    margin-top: 5px;
    /* justify-content: center; */
  }

  .introText h5 {
    font-size: 12px;
  }

  .introbtn {
    padding: 10px 10px;
    margin-top: 15px;
  }

  .servicesBackground {
    height: 30vh;
    margin-top: 10px;
    align-items: start;
  }

  .servicesContainer p {
    font-size: 16px;
  }

  .servicesContainer h2 {
    font-size: 18px;
  }

  .servicesBox {
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }

  .serviceItemFirst {
    width: 80%;
    height: 200px;
  }

  .serviceItemSecond {
    width: 80%;
    height: 200px;
  }

  .serviceItemThird {
    width: 80%;
    height: 200px;
  }

  .serviceItemFourth {
    width: 80%;
    height: 200px;
  }

  .videoBackground {
    margin-top: 0px;
  }

  .videoItems {
    padding: 0;
  }

  .videoItems ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .videoItems ul li {
    padding: 10px 20px;
  }

  .videoItems ul li a {
    font-size: 14px;
  }

  .videoSectionText h2 {
    font-size: 22px;
  }

  .videoButton svg {
    width: 50px;
    height: 50px;
  }

  .exploreProjectsContainer {
    margin-top: 30px;
  }

  .exploreProjectsContainer p {
    font-size: 14px;
  }

  .exploreProjectsContainer h2 {
    font-size: 18px;
  }

  .exploreProjectsBoxes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
  }

  .exploreProjectsBoxFirst {
    width: 80%;
    height: 200px;
  }

  .exploreProjectsBoxSecond {
    width: 80%;
    height: 200px;
  }

  .exploreProjectsBoxThird {
    width: 80%;
    height: 200px;
  }

  .exploreProjectsBoxFourth {
    width: 80%;
    height: 200px;
  }

  .exploreProjectsBoxes h3 {
    font-size: 16px;
  }

  .testimonialBackground {
    /* height: 90vh; */
    margin-top: 20px;
  }

  .testimonialContainer {
    flex-direction: column;
    margin: 30px auto;
  }

  .testimonialLeft {
    width: 80%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }

  .testimonialLeft span {
    font-size: 16px;
  }

  .testimonialLeft h2 {
    font-size: 16px;
  }

  .testimonialLeft p {
    font-size: 14px;
  }

  .testimonialBtn {
    padding: 12px 10px;
    margin-top: 20px;
    font-size: 12px;
  }

  .testimonialRight {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .cardBackground {
    width: 100%;
    height: 250px;
    padding: 10px;
    margin: 20px 10px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .testimonialCard p {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
  }

  .testimonialCardHeading {
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }

  .testimonialCardHeading h4 {
    font-size: 14px;
  }

  .testimonialIcons {
    margin-top: 6px;
  }

  .testimonialProfile {
    width: 80px;
    height: 80px;
  }

  .testimonialActiveStatus {
    top: 68px;
    left: 28px;
    width: 25px;
    height: 25px;
  }

  .benefitsContainer {
    flex-direction: column;
    margin-top: 10px;
  }

  .benefitsLeft {
    width: 100%;
  }

  .benefitsImage {
    width: 100%;
  }

  .benefitsImage img {
    width: 100%;
    height: 260px;
  }

  .benefitsRight {
    width: 80%;
    margin: 0 auto;
  }

  .benefitsRight span {
    display: flex;
    justify-content: center;
    color: #eec044;
    font-family: "Covered By Your Grace", serif;
  }

  .benefitsRight h2 {
    font-size: 16px;
    text-align: center;
  }

  .benfitsPara {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }

  .benefitsBoxes {
    width: 100%;
    margin-top: 20px;
  }

  .benefitsTextsBox {
    margin-top: 10px;
  }

  .benefitsIconsImage {
    display: flex;
    gap: 15px;
  }

  .benefitsText h3 {
    font-size: 14px;
  }

  .benefitsText p {
    font-size: 14px;
  }

  .benefitsButton {
    display: flex;
    justify-content: center;
  }

  .benefitsBtn {
    padding: 12px 16px;
    margin-top: 20px;
  }

  .blogsContainer {
    flex-direction: column;
    margin-top: 50px;
  }

  .blogsContainer p {
    font-size: 16px;
  }

  .blogsContainer h2 {
    font-size: 18px;
  }

  .blogsBoxes {
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blogsBoxItem {
    width: 80%;
    height: 360px;
  }

  .blogsImage img {
    height: 180px;
  }

  .blogsBtn {
    font-size: 12px;
  }

  .blogsFeedback {
    margin-top: 30px;
    gap: 5px;
    flex-direction: column;
  }

  .blogsBoxItem h3 {
    font-size: 14px;
    margin: 10px;
    text-align: center;
  }

  .backgroundColor {
    height: 20vh;
    margin-top: 30px;
  }

  /* .footerContainer {
    padding: 80px 30px;
    justify-content: center;
  }

  .footerColumns {
    margin: 15px;
  }

  .footerLogo {
    text-align: center;
  }

  .footerLogo img {
    width: 100px;
  }

  .footerSocialIcons ul {
    justify-content: center;
  }

  .footerColText {
    margin-left: 0;
  }

  .footerColumns ul li span {
    padding: 0px 10px;
  }

  .footerContent ul li {
    font-size: 14px;
  } */

  .aboutBackground {
    height: 30vh;
  }

  .aboutBackground h1 {
    font-size: 24px;
  }

  .aboutIntroContainer {
    flex-direction: column;
    margin-top: 30px;
  }

  .aboutIntroLeft {
    width: 80%;
  }

  .aboutIntroFirstImage img {
    position: relative;
    width: 100%;
    left: 30px;
    height: 260px;
    border-radius: 10px;
  }

  .aboutIntroSecondImage img {
    width: 30%;
    left: 30px;
    bottom: 5px;
  }

  .aboutIntroRight {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .aboutIntroRight h2 {
    font-size: 16px;
  }

  .aboutIntroRight h4 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
  }

  .aboutIntroRight p {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 300;
    line-height: 1.4em;
  }

  .aboutIntroTextsBox {
    margin-top: 10px;
  }

  /* .introBox h5 {
    font-size: 12px;
  } */
  .aboutIntroText {
    gap: 10px;
    margin-top: 5px;
    justify-content: center;
  }

  .aboutIntroText h5 {
    font-size: 12px;
  }

  .aboutIntrobtn {
    padding: 8px 10px;
    margin-top: 15px;
  }

  .aboutVideoBackground {
    margin-top: 30px;
    height: 50vh;
  }

  .aboutVideoItems {
    padding: 0;
  }

  .aboutVideoItems ul {
    flex-direction: column;
    justify-content: center;
  }

  .aboutVideoItems ul li {
    padding: 5px 0px;
  }

  .aboutVideoItems ul li a {
    font-size: 14px;
  }

  .aboutVideoText h2 {
    font-size: 22px;
    margin-top: 50px;
  }

  .aboutVideoButton svg {
    width: 50px;
    height: 50px;
  }

  .aboutTestimonialContainer {
    padding: 10px 0;
  }

  .aboutTestimonialCards {
    width: 100%;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .aboutTestimonialContainer span {
    font-size: 16px;
  }

  .aboutTestimonialContainer h2 {
    font-size: 18px;
  }

  .aboutTestimonialBox {
    width: 90%;
    height: 180px;
    padding: 20px;
    margin-top: 20px;
  }

  .aboutTestimonialProfile {
    width: 80px;
    height: 50px;
    transform: translate(40%, 30%);
  }

  .aboutTestimonialProfile img {
    width: 100%;
    height: 80px;
    border-radius: 10px;
  }

  .aboutTestimonialActiveStatus {
    left: 25px;
    top: 50px;
    width: 20px;
    height: 20px;
  }

  .aboutTestimonialCard {
    /* padding: 10px 10px; */
    padding: 0;
  }

  .aboutTestimonialCard p {
    font-size: 12px;
  }

  .aboutTestimonialCardHeading {
    width: 100%;
    margin-top: 10px;
  }

  .aboutTestimonialCardHeading h4 {
    font-size: 14px;
  }

  .teamMembersContainer {
    margin-top: 30px;
  }

  .teamMembersContainer p {
    font-size: 16px;
  }

  .teamMembersContainer h2 {
    font-size: 18px;
  }

  .teamMembersBoxes {
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .teamMembersBoxFirst {
    width: 90%;
    height: 230px;
  }

  .teamMembersBoxSecond {
    width: 90%;
    height: 230px;
  }

  .teamMembersBoxThird {
    width: 90%;
    height: 230px;
  }

  .teamMemberText {
    padding: 10px 40px;
  }

  .teamMemberText h3 {
    font-size: 14px;
  }

  .teamMemberText span {
    font-size: 14px;
  }

  .teamMemberIcon {
    width: 15%;
    transform: translate(-50%, 20%);
  }

  .contactBackground {
    height: 30vh;
  }

  .contactBackground h1 {
    font-size: 24px;
  }

  .contactBoxesContainer {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contactBoxFirst {
    width: 80%;
    height: 180px;
    padding: 30px 30px;
  }

  .contactBoxFirst p {
    font-size: 14px;
  }

  .contactBoxSecond {
    width: 80%;
    height: 180px;
    padding: 30px 30px;
  }

  .contactBoxSecond p {
    font-size: 14px;
  }

  .contactBoxThird {
    width: 80%;
    height: 180px;
    padding: 30px 30px;
  }

  .contactBoxThird p {
    font-size: 14px;
  }

  .contactFormContainer {
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    margin: 50px auto;
  }

  .contactLeft {
    width: 80%;
  }

  .contactLeft img {
    width: 100%;
    height: 300px;
  }

  .contactRight {
    padding: 0;
    width: 80%;
    margin-top: 30px;
    align-items: center;
    text-align: center;
  }

  .contactRight p {
    font-size: 14px;
  }

  .contactRight h2 {
    font-size: 18px;
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
  }

  input[type="email"] {
    margin-left: 0;
  }

  .contactButton {
    padding: 14px 20px;
  }

  .projectsBackground {
    height: 30vh;
  }

  .projectsBackground p {
    font-size: 12px;
  }

  .projectsBackground h1 {
    font-size: 24px;
  }

  .projectsContainer {
    margin-top: 40px;
  }

  .projectsBoxesFirst {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .projectsBoxFirst {
    width: 80%;
    height: 300px;
    background-size: cover;
  }
  .projectsBoxSecond {
    width: 80%;
    height: 300px;
    background-size: cover;
  }
  .projectsBoxThird {
    width: 80%;
    height: 300px;
    background-size: cover;
  }
  .projectsBoxesSecond {
    flex-direction: column;
    align-items: center;
  }
  .projectsBoxFourth {
    width: 80%;
    height: 300px;
    background-size: cover;
  }
  .projectsBoxFifth {
    width: 80%;
    height: 300px;
    background-size: cover;
  }
  .projectsBoxSixth {
    width: 80%;
    height: 300px;
    background-size: cover;
  }

  .healthyFoodImage {
    margin-top: 40px;
  }

  .healthyFoodContainer {
    margin-top: 30px;
    flex-direction: column;
  }

  .healthyFoodLeft {
    width: 100%;
    text-align: center;
  }

  .healthyFoodLeft h2 {
    font-size: 18px;
    font-weight: 800;
  }

  .healthyFoodLeft p {
    font-size: 14px;
    margin-top: 15px;
    line-height: 1.3em;
  }

  .healthyFoodLeft .foodPara {
    margin: 10px 0;
  }

  .healthyFoodLeft h3 {
    font-size: 18px;
    margin: 10px 0;
  }

  .healthyFoodRight {
    width: 100%;
    text-align: center;
  }

  .healthyFoodRightContent {
    height: 50vh;
    padding: 15px 10px;
  }

  .healthyFoodProjectsContainer {
    margin: 40px auto;
  }

  .healthyFoodProjectsContainer p {
    font-size: 16px;
  }

  .healthyFoodProjectsContainer h2 {
    font-size: 18px;
    font-weight: 800;
  }

  .healthyFoodProjectsBoxes {
    flex-direction: column;
  }

  .healthyFoodProjectsBoxes h3 {
    font-size: 16px;
  }

  .healthyFoodProjectsBoxFirst {
    width: 100%;
    height: 300px;
    background-size: cover;
  }

  .healthyFoodProjectsBoxSecond {
    width: 100%;
    height: 300px;
    background-size: cover;
  }

  .healthyFoodProjectsBoxThird {
    width: 100%;
    height: 300px;
    background-size: cover;
  }

  .healthyFoodProjectsBoxFourth {
    width: 100%;
    height: 300px;
    background-size: cover;
  }

  .servicesPageBackground {
    height: 30vh;
  }

  .servicesPageBackground p {
    font-size: 12px;
  }

  .servicesPageBackground h1 {
    font-size: 24px;
  }

  .servicesPageContainer {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
  }
  .servicesPageItemFirst {
    width: 80%;
    height: 250px;
    background-size: cover;
  }
  .servicesPageItems {
    padding: 4px 50px;
    top: 30px;
  }

  .servicesPageItems h5 {
    font-size: 14px;
  }

  .servicesPageIcons svg {
    width: 30px;
    height: 30px;
  }

  .servicesPageBtn {
    padding: 8px 10px;
  }

  .servicesPageItemSecond {
    width: 80%;
    height: 250px;
    background-size: cover;
  }
  .servicesPageItemThird {
    width: 80%;
    height: 250px;
    background-size: cover;
  }
  .servicesPageItemFourth {
    width: 80%;
    height: 250px;
    background-size: cover;
  }

  .servicesLogoBackground {
    height: 20vh;
    margin-top: 30px;
  }

  .servicesPageVideoBackground {
    height: 40vh;
  }

  .servicesPageVideoContainer {
    justify-content: space-around;
  }

  .servicesPageVideoContainer h2 {
    font-size: 18px;
  }

  .servicesPageVideoButton svg {
    width: 50px;
    height: 50px;
  }

  .servicesVideoBoxes {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .servicesVideoBox {
    width: 80%;
    height: 280px;
  }

  .servicesVideoBox img {
    height: 220px;
  }

  .servicesGrowthContainer {
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
  }

  .servicesGrowthLeft {
    width: 80%;
  }

  .servicesGrowthLeft img {
    width: 100%;
    height: 300px;
  }

  .servicesGrowthRight {
    width: 80%;
    margin-top: 10px;
    text-align: center;
  }

  .servicesGrowthRight .growthPara {
    font-size: 16px;
  }

  .servicesGrowthRight h2 {
    font-size: 18px;
  }

  .servicesGrowthRight p {
    font-size: 14px;
    margin-top: 10px;
  }

  .growthBoxes {
    width: 100%;
    margin-top: 30px;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .growthItemFirst {
    padding: 10px 18px;
  }

  .growthItemFirst .servicesGrowthIconText {
    font-size: 12px;
  }

  .growthItemSecond {
    padding: 8px 12px;
  }

  .growthItemSecond .servicesGrowthIconText {
    font-size: 12px;
  }

  .growthItemThird {
    padding: 10px 25px;
  }

  .growthItemThird .servicesGrowthIconText {
    font-size: 12px;
  }

  .servicesGrowthIcon svg {
    width: 40px;
  }

  .marketLeadersBackground {
    margin-top: 30px;
  }

  .marketLeadersContainer {
    flex-direction: column;
    text-align: center;
  }

  .marketLeadersBackground p {
    font-size: 14px;
  }

  .marketLeadersBackground h3 {
    font-size: 16px;
  }

  .marketLeadersBtn {
    padding: 15px 10px;
    margin-top: 20px;
  }

  .agricultureProductsContainer {
    margin: 50px auto;
    flex-direction: column;
    align-items: center;
  }

  .agricultureProductsLeft {
    width: 100%;
  }

  .agricultureProductsLeftFirst {
    width: 100%;
    text-align: center;
  }

  .agricultureProductsLeft h4 {
    font-size: 18px;
  }

  .agricultureProductsLeftItems {
    margin-top: 10px;
  }

  .agricultureProductsLeftSecond {
    width: 100%;
    margin-top: 20px;
  }

  .agricultureProductsRight {
    width: 100%;
    text-align: center;
  }

  .agricultureProductsRight h2 {
    margin-top: 20px;
    font-size: 16px;
  }

  .agricultureProductsRight p {
    font-size: 14px;
  }

  .agricultureProductsRghtBoxes {
    flex-direction: column;
  }

  .agricultureProductsBoxItem h4 {
    font-size: 18px;
  }

  .agricultureProductsBoxItem .BoxSecondText {
    font-size: 14px;
  }

  .agricultureProductsAccordian {
    margin-top: 30px;
  }

  .accordianItem h4 {
    font-size: 14px;
  }

  .accordianItem svg {
    width: 20px;
    height: 30px;
  }

  .footerContainer {
    padding: 80px 70px;
    text-align: center;
  }

  .footerColumns {
    margin: 15px;
  }

  .footerSocialIcons ul {
    justify-content: center;
  }

  .footerColText {
    margin-left: 0px;
  }

  .footerColumns ul li span {
    padding: 0px 10px;
  }
}
